html {
    height: 100%;
  }
  
body {
    background: linear-gradient(
      181.2deg,
      rgb(49, 28, 54) 10.5%,
      rgb(254, 254, 254) 86.8%
    );
  }

  footer {
    display: block;
    font-family: monospace;
    font-size: 12px;
    padding-top: 18px;
    text-align: center;
  }